{% extends "layout.html" %}

{% block title %}
    changepassword
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="new_Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="old_Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">changepassword</button>
    </form>
{% endblock %}